* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-style: none;
    line-height: 24px;
    font-weight: 500;
    overflow-x: hidden !important;
    text-align: left;
    position: relative;
    background-color: white !important;
    opacity: 0.9;
  }
  
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "roboto", sans-serif;
  }
  
  p {
    opacity: 0.9;
    font-size: 15px;
  }
  
  .nav li a {
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  
  .nav li a:hover {
    background-color: transparent;
  }
  
  .nav li a:focus {
    background-color: transparent;
    outline: 0 !important;
  }
  
  a {
    text-decoration: none !important;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #000;
    opacity: 0.9;
  }
  
  a:hover {
    background-color: transparent;
  }
  
  a:focus {
    background-color: transparent;
    outline: 0 !important;
  }
  
  .social-icon {
    display: inline-block;
  }
  
  .social-icon li {
    list-style: none;
    float: left;
    margin-bottom: 0px;
    margin-right: 8px;
  }
  
  .social-icon li a {
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
  }
  
  .social-icon li:last-child a {
    margin-right: 0px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
  }
  
  
  .section-separator {
    padding: 60px 0;
    padding-top: 100px;
  }
  
  .image-bg {
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
  }
  
  button {
    outline: 0;
  }
  
  button:hover {
    outline: 0;
  }
  
  button:focus {
    outline: 0;
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  .mh-nav {
    width: 100%;
  }
  
  .mh-header {
    padding: 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .mh-header.nav-strict {
    padding: 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .mh-header .navbar-nav li {
    margin: 0 20px;
  }
  
  .mh-header .navbar-nav li a {
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    opacity: 1;
    line-height: 30px;
  }
  
  .mh-header .navbar-nav li a.nav-link {
    padding-left: 0;
    padding-right: 0;
  }
  
  .mh-header .navbar-nav li a:hover {
    color: #0bceaf;
  }
  
  .nav-3 .navbar-dark .navbar-nav .nav-link a {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .nav-3 .navbar-dark .navbar-nav .nav-link.active a {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .nav-3 .navbar-nav {
    padding-top: 30px;
  }
  
  .home-padding {
    padding: 180px 0;
  }
  
  .mh-skills .mh-professional-skill {
    padding-right: 60px;
  }
  
  .mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
  }
  
  .mh-professional-skills {
    padding-left: 20%;
  }
  
  .mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
  }
  
  .candidatos {
    position: relative;
    margin-bottom: 15px;
  }
  
  .candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
  
  .candidatos .parcial .info {
    position: relative;
  }
  
  .candidatos .parcial .info .nome {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
  }
  
  .candidatos .parcial .info .eleito, .candidatos .parcial .info .segundo-turno {
    padding: 0 5px 2px 5px;
    border-radius: 2px;
  }
  
  .candidatos .parcial .info .percentagem-num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
  }
  
  .candidatos .parcial .progressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .candidatos .parcial .percentagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
  }
  
  .candidatos .parcial .partidas {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-style: none;
  line-height: 24px;
  font-weight: 500;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
  background-color: white !important;
  opacity: 0.9;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "roboto", sans-serif;
}

p {
  opacity: 0.9;
  font-size: 15px;
}

.nav li a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav li a:hover {
  background-color: transparent;
}

.nav li a:focus {
  background-color: transparent;
  outline: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000;
  opacity: 0.9;
}

a:hover {
  background-color: transparent;
}

a:focus {
  background-color: transparent;
  outline: 0 !important;
}

.social-icon {
  display: inline-block;
}

.social-icon li {
  list-style: none;
  float: left;
  margin-bottom: 0px;
  margin-right: 8px;
}

.social-icon li a {
  text-align: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
}

.social-icon li:last-child a {
  margin-right: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}


.section-separator {
  padding: 60px 0;
  padding-top: 100px;
}

.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

button {
  outline: 0;
}

button:hover {
  outline: 0;
}

button:focus {
  outline: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.mh-nav {
  width: 100%;
}

.mh-header {
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mh-header.nav-strict {
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mh-header .navbar-nav li {
  margin: 0 20px;
}

.mh-header .navbar-nav li a {
  border-bottom: 1px solid transparent;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  opacity: 1;
  line-height: 30px;
}

.mh-header .navbar-nav li a.nav-link {
  padding-left: 0;
  padding-right: 0;
}

.mh-header .navbar-nav li a:hover {
  color: #0bceaf;
}

.nav-3 .navbar-dark .navbar-nav .nav-link a {
  color: rgba(255, 255, 255, 0.7);
}

.nav-3 .navbar-dark .navbar-nav .nav-link.active a {
  color: rgba(255, 255, 255, 0.7);
}

.nav-3 .navbar-nav {
  padding-top: 30px;
}

.topnav {
  position: fixed;
}

.home-padding {
  padding: 180px 0;
}

.mh-skills .mh-professional-skill {
  padding-right: 60px;
}

.mh-skills .mh-professional-skill h3 {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}

.mh-professional-skills {
  padding-left: 20%;
}

.mh-professional-skills h3 {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}

.candidatos {
  position: relative;
  margin-bottom: 15px;
}

.candidatos .parcial {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.candidatos .parcial .info {
  position: relative;
}

.candidatos .parcial .info .nome {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
}

.candidatos .parcial .info .eleito, .candidatos .parcial .info .segundo-turno {
  padding: 0 5px 2px 5px;
  border-radius: 2px;
}

.candidatos .parcial .info .percentagem-num {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: normal;
}

.candidatos .parcial .progressBar {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 30px 0 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.candidatos .parcial .percentagem {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #0bceaf;
  -webkit-transition: 3s all;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: animationProgress;
}

.candidatos .parcial .partidas {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}


